@page
@model Restaurant.Services.Identity.Pages.Account.Register.IndexModel
@{
}

<div>
    <partial name="_ValidationSummary" />

    <div class="row">
        <div class="col-sm-12 col-lg-6 offset-lg-3">
            <h1>Register</h1>
            <div class="card">
                <div class="card-header">
                    <h2>Create account</h2>
                </div>
                <div class="card-body">
                    <form asp-route="register">
                        <input type="hidden" asp-for="Input.ReturnUrl" />
                        <div class="form-group">
                            <label asp-for="Input.Name" class="text-dark"></label>
                            <input type="text" asp-for="Input.Name" placeholder="Name" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Email" class="text-dark"></label>
                            <input type="text" asp-for="Input.Email" placeholder="Email" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password" class="text-dark"></label>
                            <input type="text" asp-for="Input.Password" placeholder="Password" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.ConfirmPassword" class="text-dark"></label>
                            <input type="text" asp-for="Input.ConfirmPassword" placeholder="Confirm password" class="form-control" />
                        </div>
                        <button type="submit" class="btn btn-primary" value="register">
                            Register
                        </button>
                    </form>
                </div>
                <div class="card-footer">
                    <a asp-page="../Login/Index" asp-route-returnUrl="@Model.Input.ReturnUrl">Login</a>
                </div>
            </div>
        </div>
    </div>

</div>